.card-title {
  margin-bottom: 12px;
  padding-left: 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 14px;
    top: 5px;
    left: 0;
    background-color: #2db7f5;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
